@import "./components/Header/Header.scss";

.content {
  display: flex;

  main {
    width: calc(100% - 283px);
    margin-left: 283px;
    padding: 60px;
    padding-top: calc(60px + $header-height);
  }
}
